<ion-view view-title="Create">
    <ion-content class="padding">
        <form name="create_grape_form" ng-submit="vm.create_grape()">
            <div class="list list-inset">
                <div class="item item-input" grape-form-field="name">
                    <input type="text" placeholder="Name" ng-model="vm.grape.name" required />

                    <div ng-messages>
                        <div ng-message="required">Name is required.</div>
                    </div>
                </div>
                <div class="item item-input" grape-form-field="password">
                    <input type="password" placeholder="Password" ng-model="vm.grape.password" required />

                    <div ng-messages>
                        <div ng-message="required">Password is required.</div>
                    </div>
                </div>
                <div class="item item-input" grape-form-field="password2">
                    <input type="password"
                           placeholder="Confirm Password"
                           ng-model="vm.password2"
                           ui-validate="{ match: $value == vm.grape.password }"
                           required />

                    <div ng-messages>
                        <div ng-message="match">Passwords must match.</div>
                    </div>
                </div>
            </div>

            <button type="submit" class="button button-block button-energized" ng-disabled="vm.submitting">
                Create Grape
            </button>
        </form>
    </ion-content>
</ion-view>
