<ion-view view-title="Join a Grape">
    <ion-content class="padding">
        <form name="join_grape_form" ng-submit="vm.join_grape()">
            <div class="list list-inset">
                <div class="item item-input" grape-form-field="name">
                    <input type="text" placeholder="Name" ng-model="vm.grape.name" required />

                    <div ng-messages>
                        <div ng-message="required">Name is required.</div>
                    </div>
                </div>
                <div class="item item-input" grape-form-field="password">
                    <input type="password" placeholder="Password" ng-model="vm.grape.password" required />

                    <div ng-messages>
                        <div ng-message="required">Password is required.</div>
                    </div>
                </div>
            </div>

            <button type="submit" class="button button-block button-balanced" ng-disabled="vm.submitting">
                Join Grape
            </button>
        </form>
    </ion-content>
</ion-view>
